<div class="main jackets-index">
  <div class="sinnki">
      <%=link_to("/jackets/new") do %>
    <button class="btn">追加</button>
  <%end%>
  </div>
  <div class="contain">
    <% @jackets.each do |jacket| %>
      <div class="jackets-index-item">
      <div class="jacket-left">
        <img src="<%= "/jacket_images/#{jacket.image}" %>">
      </div>
      <div class="jacket-right">
      <%= link_to(jacket.content ,"/jackets/#{jacket.id}") %>
      </div>
      <%
=begin%>
 <%= jacket.color %> 
<%
=end%>
      </div>
    <% end %>
  </div>
</div>
